#nav li {
    display: inline-block;
    font: 13px sans-serif;
    padding: 0 10px;
}
li a {
    color: #a5a4a4;
}
#content, #wrapper #sidebar {
    font: 14px/150% 'Open Sans', sans-serif;
}

#wrapper ul li {
    list-style: circle inside;
    margin-bottom: 20px;
}

#wrapper ul {padding: 0;}
#wrapper p, #wrapper ul {
    font-weight: bold;
    font-size: 13px;
}
